.price {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.priceRange {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priceSlide {
    margin-top: 32px;
}